@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: rgb(8, 7, 7);
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-emphasis: none;
}

* {
  box-sizing: border-box;
}
